body {
	margin: 0;
	padding: 20px;
}

* {
	box-sizing: border-box;
}

.section-title {
	display: block;
	margin: 0 auto 18px;
	padding: 15px;
	border-radius: 4px;
	border: 7px ridge gold;
	box-shadow: -2px -2px 10px 1px rgba(122, 93, 15, 1);
	background-color: #fad489;
	color: #26170b;
	font-size: 45px;
	text-align: center;
}

.cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	margin-top: 20px;

	@media (min-width: 620px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 920px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 1220px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (min-width: 1520px) {
		grid-template-columns: repeat(5, 1fr);
	}

	&__item {
		padding: 15px;
		border-radius: 4px;
		border: 7px ridge gold;
		box-shadow: -2px -2px 10px 1px rgba(122, 93, 15, 1);
		background-color: #fad489;
		text-align: center;
	}

	&__title {
		color: #26170b;
		margin-bottom: 18px;
	}

	&__image {
		margin: 0 auto;
		border-radius: 50%;
		width: 100%;
		max-width: 300px;
	}
}
